.projects:active > div > div > p > .linkText,
.projects:hover > div > div > p > .linkText {
  text-decoration: underline;
  transition: text-decoration 0.3s;
}

.linkText {
  color: rgba(255, 129, 80, 1);
}
